/* ProfilePic.css */

.avatar-ring {
  width: 300px;
  height: 300px;
  border-radius: 999px;
  padding: 8px;
  background: conic-gradient(from 180deg, #6b7cff, #be5cff);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* center always */
}

.avatar {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 999px;
}

@media (max-width: 900px) {
  .avatar-ring {
    width: 220px;
    height: 220px;
  }
}

@media (max-width: 500px) {
  .avatar-ring {
    width: 160px;
    height: 160px;
  }
}
